@import '../../theme';

.project {
  position: relative;
  padding-bottom: px($s-xxl);
  background-color: rgba(#ffffff, 0.6);

  @include media-breakpoint-up(md) {
    padding-bottom: px($s-xxl * 2);
    background-color: transparent;
  }

  .details {
    padding-left: px($left-colors-years-width);
    margin-top: px($s-m);
  }

  @include media-breakpoint-up(md) {
    .details {
      padding-left: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    .details {
      position: absolute;
      top: 15%;
      left: 100%;
      padding-left: px($s-l);
      width: 60%;
    }
  }

  .title-container {
    overflow: hidden;
  }

  .project-name {
    display: inline-block;
    font-family: $f-thin;
    color: white;
    overflow: hidden;
    margin-left: px($s-m * -1);
    white-space: nowrap;
    width: 0;
    transition: width $ease-out $t-m;
    margin-bottom: px($s-m);

    .text {
      transform: translateX(-100%);
      transition: transform $ease-out $t-m $t-xs;
      display: inline-block;
      margin: 0;
      padding: px($s-s) px($s-m);
      font-size: $f-xl;
      max-width: 94vw;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: px($s-l * 2);

      .text {
        max-width: none;
      }
    }
  }

  &.move-shake-pause-repeat,
  &.flash,
  &.shutterstock {
    .project-name .text {
      font-size: $f-xl * 0.75;

      @include media-breakpoint-up(md) {
        font-size: $f-xl;
      }
    }
  }

  .project-company {
    font-size: $f-l;
    font-weight: $f-bold;
  }

  .project-tools {
    font-style: italic;
  }

  .description {
    color: rgba(#000000, 0.6);

    span {
      padding-top: px($s-m);
      padding-bottom: px($s-m);
    }
  }

  .project-links {
    .project-link {
      text-decoration: none;

      i {
        font-size: $f-xl;
        margin: px($s-m);
      }
    }
  }

  .position,
  .team,
  .description,
  .project-clients {
    font-size: 0.9em;
  }

  .project-tools,
  .project-clients,
  .project-links,
  .description,
  .team {
    margin-bottom: px($s-m);
  }

  .animated-text {
    background-color: white;
    display: inline-block;
    padding: px($s-s) px($s-m) px($s-s) px($s-s);
  }
}

