@import '../../_theme';

.years {
  font-family: $f-fat;
  font-weight: $f-bold;
  position: fixed;
  // transition: top ease-out 150ms;

  .project-year {
    opacity: 0.3;
    transition: opacity $t-l, transform $t-s ease-out;
    font-size: $f-xl;
    transform: scale(1);

    &.focused {
      opacity: 1;

      @include media-breakpoint-up(md) {
        transform: scale(1.2);
      }
    }
  }
}

