@import '../../_theme';

.years {
  font-family: $f-fat;
  font-weight: $f-bold;
  position: fixed;

  .project-year {
    opacity: 0.3;
    transition: opacity $t-l, transform $t-s ease-out;
    font-size: $f-ll;
    transform: scale(1);

    @include media-breakpoint-up(md) {
      font-size: $f-xl;
    }

    &.focused {
      opacity: 1;

      @include media-breakpoint-up(md) {
        transform: scale(1.2);
      }
    }

    h3 {
      transform: translateY(50px) rotate(-90deg);
      width: px($s-xl);
      margin: 0;
    }
  }
}

