-
  var src = "https://bandcamp.com/EmbeddedPlayer"
  src += "/album=" + project.preview.meta.id
  src += "/size=large"
  src += "/bgcol=ffffff"
  src += "/linkcol=000000"
  src += "/artwork=none"
  src += "/transparent=true/"

  var bandcampIndex = project.links.findIndex(function(d) {
    return d.url.indexOf('bandcamp') > -1
  })
  var bandcamp = project.links[bandcampIndex]

.album-image(
  style=`background-image: url(${project.preview.meta.img});`
)
  iframe.bandcamp-album(
    style="border: 0;",
    src=src,
    seamless
  )
    if bandcampIndex > -1
      a(
        href=bandcamp.url
      ) bandcamp.name

