// $ease-out: cubic-bezier(0, 0, 0, 0.98);
$ease-out: cubic-bezier(0.12, 0.45, 0, 0.94);
$t-mid: 600ms;

.project {
  position: relative;
  padding-bottom: 100px;
  background-color: rgba(#ffffff, 0.6);

  @include media-breakpoint-up(md) {
    padding-bottom: 200px;
    background-color: transparent;
  }

  @include media-breakpoint-up(lg) {
    .details {
      position: absolute;
      top: 20%;
      left: 100%;
      padding-left: 20px;
      width: 60%;
    }
  }

  .title-container {
    overflow: hidden;
  }

  .project-name {
    display: inline-block;
    font-family: $f-thin;
    color: white;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      margin-left: -10px;
      margin-bottom: 40px;
      white-space: nowrap;
      width: 0;
      transition: width $ease-out $t-mid;

      .text {
        transform: translateX(-100%);
        transition: transform $ease-out $t-mid 100ms;
      }
    }

    .text {
      display: inline-block;
      margin: 0;
      padding: 5px 10px;
      font-size: 2em;
    }
  }

  .project-company {
    font-size: 1.3em;
    font-weight: 600;
  }

  .project-tools {
    font-style: italic;
  }

  .description {
    color: rgba(#000000, 0.6);

    span {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .position,
  .team,
  .description,
  .project-clients {
    font-size: 0.9em;
  }

  .project-tools,
  .project-clients,
  .project-link,
  .team {
    margin-bottom: 15px;
  }

  .animated-text {
    background-color: white;
    display: inline-block;
    padding: 5px 10px 5px 5px;
  }
}

