.video-container(name="videoContainer")
  .play-video(name="playVideo")
    i.fas.fa-play-circle
  video(loop, name="video", muted="true")
    each source in project.preview.src
      -
        var parts = source.split('.');
        var type = parts[parts.length - 1];

      source(
        src="assets/video/" + source,
        type="video/" + type
      )
