@import '../../theme';

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0.75);
  }
  80% {
    transform: rotate(360deg) scale(0.75);
  }
  100% {
    transform: rotate(360deg) scale(0.75);
  }
}

@keyframes downloading {
  0% {
    transform: translateY(-100%) scale(0.75);
  }
  40% {
    transform: translateY(0) scale(0.75);
  }
  60% {
    transform: translateY(0) scale(0.75);
  }
  100% {
    transform: translateY(100%) scale(0.75);
  }
}

body {
  // Hide custom controls by default.
  .play-video,
  .mute-video {
    display: none;
  }

  // Use custom controls if we haven't explicity turned them off.
  &:not(.show-native-media-controls) {
    .play-video {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    // If videos are globally paused.
    &.media-paused {
      .play-video {
        opacity: $hover-state-opacity;
      }
    }

    .mute-video {
      display: flex;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: px($s-l);
    }

    &.media-muted {
      .mute-video {
        i::before {
          content: "\f028"; // volume waves
          // content: "\f6a9"; // volume x
        }
      }
    }
  }
}

.video-container {
  position: relative;
  cursor: pointer;
  // There's a 4px margin that I can't find
  // above and below the video.
  margin: -4px 0;

  .play-video {
    justify-content: center;
    align-items: center;
    font-size: px(80);
    opacity: 0;
    transition: opacity $t-s linear;
    color: white;
    z-index: 100;

    .icon-wrapper {
      display: flex;
      overflow: hidden;
      border: px($s-m) solid rgba(#000, 0.5);
      border-radius: 100%;

      // Fix circular masking with animation in Safari.
      transform: translate3d(0, 0, 0);

      i {
        border-radius: 100%;

        &::before {
          border-radius: 100%;
          display: inline-block;
          // animation: loading 600ms infinite ease-in-out;
          // transform: translateY(50%) scale(0.75);
        }
      }
    }
  }

  .mute-video {
    font-size: px(30);
    color: white;
    opacity: $hover-state-opacity / 2;
    transition: opacity $t-s linear, background-color $t-s linear;
    z-index: 102;

    @include media-breakpoint-up(md) {
      font-size: px(40);
    }

    &:hover {
      opacity: 1;
      background-color: rgba(#000, 0.3);
    }
  }

  &.loading {
    .play-video {
      opacity: $hover-state-opacity;

      i::before {
        // content: "\f063"; // down arrow
        // content: "\f0ab"; // down arrow circle
        // content: "\f059"; // question mark
        content: "\f1ce"; // circle notch
        // content: "\f110"; // dot spinner
        animation: spin 1s infinite ease-in-out;
      }
    }
  }

  &.playing {
    .play-video {
      i::before {
        content: "\f28b";
      }
    }
  }

  &:hover {
    .play-video {
      opacity: $hover-state-opacity;
    }
  }

  video {
    min-width: 100%;
    width: 100%;
  }
}
