@import '../../theme';

.video-container {
  position: relative;
  cursor: pointer;
  // There's a 4px margin that I can't find
  // above and below the video.
  margin: -4px 0;

  .play-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: px(80);
    opacity: 0;
    transition: opacity $t-s linear;
    color: white;

    .icon-wrapper {
      display: flex;
      overflow: hidden;
      border: px($s-m) solid rgba(#000, 0.5);
      border-radius: 100%;
    }
  }

  @keyframes spin {
    from {transform:rotate(0deg) scale(0.75);}
    to {transform:rotate(360deg) scale(0.75);}
  }

  &.loading {
    .play-video {
      opacity: 0.85;
    }

    i::before {
      content: "\f110";
      display: inline-block;
      transform: scale(0.75);
      animation: spin 1s infinite linear;
    }
  }

  &.playing {
    i::before {
      content: "\f28b";
    }
  }

  &:hover {
    .play-video {
      opacity: 0.85;
    }
  }

  video {
    min-width: 100%;
    width: 100%;
  }
}
