
@keyframes grow {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 96px;
  }
}

@keyframes slidein {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: px($s-xl) px($s-l) px($s-m);

  @include media-breakpoint-up(md) {
    padding: px($s-xl) px($s-xl) px($s-m);
  }

  #logo {
    display: none;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    font-size: $f-xxxl;
    transform: scale(0.8) translateX(-30px);

    @include media-breakpoint-up(md) {
      transform: scale(1);
    }
  }

  .container {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
  }

  .soul-container {
    animation-duration: $t-m * 2;
    animation-name: grow;
  }

  .soul, .fresh {
    display: inline-block;
  }

  .soul {
    font-family: $f-thin;
    font-weight: $f-light;
  }

  .fresh {
    font-family: $f-fat;
    animation-duration: $t-m;
    animation-name: slidein;
  }
}

.subhead {
  opacity: 0.75;

  padding: 0 px($s-l) px($s-xl);

  @include media-breakpoint-up(md) {
    padding: 0 px($s-xl) px(70);
  }
}
