.bio
  p.hello.color-text Hello,
  p.name I'm Marc. I'm a software developer.
  p= project.preview.meta.bio
  p.postscript.color-background-light Currently available for remote contracts.

.languages.list
  each language, i in project.preview.meta.languages
    = language + (i < project.preview.meta.languages.length - 1 ? ', ' : '')

.frameworks.list
  each framework, i in project.preview.meta.frameworks
    = framework + (i < project.preview.meta.frameworks.length - 1 ? ', ' : '')

.practices.list
  each practice, i in project.preview.meta.practices
    = practice + (i < project.preview.meta.practices.length - 1 ? ', ' : '')

.technologies.list
  each technology, i in project.preview.meta.technologies
    = technology + (i < project.preview.meta.technologies.length - 1 ? ', ' : '')

.software.list
  each software, i in project.preview.meta.software
    = software + (i < project.preview.meta.software.length - 1 ? ', ' : '')

.social
  a.linked-in.color-text(href=about.linkedin, target="blank", aria-label="LinkedIn")
    i.fab.fa-linkedin

  a.github.color-text(href=about.github, target="blank", aria-label="GitHub")
    i.fab.fa-github-square


