.project-preview.experience {
  font-size: 0.9em;
  font-style: italic;
  padding: px($s-m) px($s-m) px($s-xl);
  margin-left: px(25);

  div {
    margin-bottom: px($s-l);
  }

  // @include media-breakpoint-up(md) {
  //   margin-left: 20px;
  // }
}

