p.big.color-text Call me...

if about.available
  p.available
    span Currently available for new projects

div(name="cSlot")

.social
  a.linked-in.color-text(href=about.linkedin, target="blank", aria-label="LinkedIn")
    i.fab.fa-linkedin

