
$f-fat: "Raleway", serif;
$f-thin: "Quicksand", "Helvetica", sans-serif;
$f-body: "Raleway", "Helvetica", sans-serif;
// $f-body: "Arimo", "Helvetica", sans-serif;

$f-light: 300;
$f-normal: 400;
$f-bold: 900;

$f-s: 14px;
$f-m: 16px;
$f-l: 20px;
$f-ll: 24px;
$f-xl: 32px;
$f-xxl: 40px;
$f-xxxl: 50px;

$s-s: 5;
$s-m: 10;
$s-l: 20;
$s-xl: 50;
$s-xxl: 100;

// $ease-out: cubic-bezier(0, 0, 0, 0.98);
$ease-out: cubic-bezier(0.12, 0.45, 0, 0.94);

$t-xs: 100ms;
$t-s: 200ms;
$t-m: 600ms;
$t-l: 900ms;

$hover-state-opacity: 0.85;

$left-colors-width: 8;
$left-colors-years-width: 30;

@function px($value) {
  @return $value * 1px;
}
