@import url(https://fonts.googleapis.com/css?family=Raleway:900|Quicksand:300);
@import './_variables';
@import './_utils';

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  font-size: $f-m;
}

.social {
  display: flex;
  align-items: center;
  font-size: $f-xxxl;

  a:not(:last-child) {
    margin-right: px($s-m);
  }
}

a {
  opacity: 0.8;

  i {
    opacity: 0.5;
  }
  transition: opacity linear $t-s;

  &:hover {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: px($s-xl) px(18);

  @include media-breakpoint-up(md) {
    padding: px($s-xl);
  }

  h1 {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    font-size: $f-xxxl;
    transform: scale(0.8);

    @include media-breakpoint-up(md) {
      transform: scale(1);
    }
  }

  .container {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
  }

  .soul-container {
    animation-duration: $t-m * 2;
    animation-name: grow;
  }

  .soul, .fresh {
    display: inline-block;
  }

  .soul {
    font-family: $f-thin;
  }

  .fresh {
    font-family: $f-fat;
    animation-duration: $t-m;
    animation-name: slidein;
  }

  @keyframes grow {
    0% {
      width: 0;
    }
    50% {
      width: 0;
    }
    100% {
      width: 96px;
    }
  }

  @keyframes slidein {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.work {
  flex-basis: 100%;
  background-color: white;
  box-shadow: 0px 0 150px 0px rgba(0, 0, 0, 0.28);
  padding-left: px($left-colors-width);

  @include media-breakpoint-up(md) {
    flex-basis: 50%;
    padding-left: 10%;
    padding-right: px($s-l);
  }
}

.project-year {
  h3 {
    transform: translateY(50px) rotate(-90deg);
    width: px($s-xl);
    margin: 0;
  }
}

@import "./components/video-player/video-player.scss";
@import "./components/audio-player/audio-player.scss";
@import "./components/years/years";
@import "./components/projects/project.scss";
@import "./components/experience/experience.scss";
@import "./components/color-boxes/colors.scss";
@import "./components/background-drawing/background-drawing";
