@import url(https://fonts.googleapis.com/css?family=Raleway:900|Quicksand:300);

// TODO Consolidate variables into a file.
$f-fat: 'Raleway', serif;
$f-thin: 'Quicksand', 'Helvetica', sans-serif;
// $ease-out: cubic-bezier(0, 0, 0, 0.98);
$ease-out: cubic-bezier(0.12, 0.45, 0, 0.94);
$t-mid: 600ms;

@mixin title-font {
  font-family: $f-fat;
  font-weight: 900;
  font-size: 2em;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

.header {
  background-color: white;
  padding: 50px;

  h1 {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    font-size: 3em;
    font-size: 48px;
  }

  .container {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
  }

  .soul-container {
    animation-duration: $t-mid * 2;
    animation-name: grow;
  }

  .soul, .fresh {
    display: inline-block;
  }

  .soul {
    font-family: $f-thin;
  }
  
  .fresh {
    font-family: $f-fat;
    animation-duration: $t-mid;
    animation-name: slidein;
  }

  @keyframes grow {
    0% {
      width: 0; 
    }
    50% {
      width: 0; 
    }
    100% {
      width: 92px;
    }
  }

  @keyframes slidein {
    from {
      transform: translateX(-100%); 
    }
    to {
      transform: translateX(0%); 
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.work {
  // flex-grow: 1;
  flex-basis: 50%;
  padding-left: 10%;
  padding-right: 20px;
  background-color: white;
  box-shadow: 0px 0 150px 0px rgba(0, 0, 0, 0.28);
}

.years {
  font-family: $f-fat;
  font-weight: 900;
  position: fixed;
  // transition: top ease-out 150ms;

  .project-year {
    opacity: 0.3;
    transition: opacity 900ms, font-size 200ms ease-out;
    font-size: 1.6em;

    &.focused {
      opacity: 1;
      font-size: 2.2em;
    }
  }
}

.project-year {
  h3 {
    transform: translateY(50px) rotate(-90deg);
    width: 50px;
    margin: 0;
  }
}

.colors {
  width: 8px;
  height: calc(100vh + 200px);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  
  .color-box {
    flex-grow: 1;
  }
}

.description-boxes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: fixed;
  right: 0;
  width: 50%;
  z-index: -1;

  .description-box {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

@import './styles/video-player.scss';
@import './styles/audio-player.scss';
@import './styles/project.scss';
